<template>
  <div id="app">
    <div class="main">
      <h1 class="title">World Countries</h1>
      <Menu></Menu>
      <Countries></Countries>
    </div>
  </div>
</template>

<script>
import Countries from './components/Countries.vue'
import Menu from './components/Menu.vue'

export default {
  name: 'App',
  components: {
    Countries,
    Menu
  }
}
</script>

<style>

html, body {
    height: 100%;
}

*, :after, :before {
    box-sizing: border-box;
}

body, html {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

#app {
    height: 100%;
    margin: 10px;
    font-family: Courier,Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

#app {
  background: url(./assets/background.jpg);
  background-size: 180%;
  background-position-x: center;
  background-position-y: 10%;
  height: 100%;
  margin: 0;
  text-align: center;
  overflow: hidden;
  font-size: 1em;
}
.main {
  width: 455px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

* {
    font-family: Courier!important;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
}

h1 {
    font-size: 56px;
    line-height: 1.35;
    letter-spacing: -.02em;
    margin: 24px 0;
}

h1, h2 {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    /* line-height: 1.2; */
}

.h1, h1 {
    font-size: 2.5rem;
}

.title{
	margin: 40px 0px; 
	font-size: 3.7em; 
	font-weight: bold;
}
</style>
