<template>
  <div id="app">
    <div style="margin: 10px; font-size: 1em;">
      <SearchBar></SearchBar>
      <JokesList></JokesList>
    </div>
  </div>
</template>

<script>
import SearchBar from './components/searchBar.vue'
import JokesList from "./components/jokesList";

export default {
  name: 'App',
  components: {
    SearchBar,
    JokesList
  }
}
</script>

<style>
body, html {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
#app {
  height: 100%;
  margin: 10px;
  font-family: Courier,Avenir,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
*, :after, :before {
  box-sizing: border-box;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
footer, header {
  padding: 5px;
  background: #fdf5e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
html, body{
  height: 100%;
}
</style>
