<template>
  <div class="countries-list">
    <div v-for="element in countries[0]" :key="element.name" class="mdl-shadow--3dp country-card">
        <Country :country="element"></Country>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Country from './Country.vue'
import store from '../store';

const regionCall = {
  method: 'GET',
  url: 'https://restcountries.com/v2/all?fields=region',
  headers: {
    'Accept': 'application/json'
  }
};

let countriesCall = {
  method: 'GET',
  url: 'https://restcountries.com/v2/all/',
  headers: {
    'Accept': 'application/json'
  }
};

let countriesByRegionCall = {
  method: 'GET',
  url: 'https://restcountries.com/v2/region/',
  headers: {
    'Accept': 'application/json'
  }
};

let countriesByNameCall = {
  method: 'GET',
  url: 'https://restcountries.com/v2/name/',
  headers: {
    'Accept': 'application/json'
  }
};

export default {
  name: 'Countries',
  components: {
    Country
  },
  data(){ return {
    regions: [],
    countries:[],
    id: 0
  }},
  methods:{
    getAllCountries(){
      axios.request(countriesCall).
      then(response => {
        for(let i = 0 ; i < response.data.length ; i++){
          this.countries.indexOf((response.data[i].name)) === -1 ? this.countries.push(response.data) : null;
        }
        store.commit('setCountries', this.countries);
      }).
      catch(error => {
        console.error(error);
      });
    },
    getCountriesByRegion(region){
      this.countries = [];
      countriesByRegionCall.url = "https://restcountries.com/v2/region/" + region;
      axios.request(countriesByRegionCall).
      then(response => {
        for(let i = 0 ; i < response.data.length ; i++){
          if(this.countries.indexOf((response.data[i].name)) === -1)
            this.countries.push(response.data);
        }
        store.commit('setCountries', this.countries);
      }).
      catch(error => {
        console.error(error);
      });
    },
    getCountriesByName(name){
      this.countries = [];
      countriesByNameCall.url = "https://restcountries.com/v2/name/" + name;
      axios.request(countriesByNameCall).
      then(response => {
        for(let i = 0 ; i < response.data.length ; i++){
          if(this.countries.indexOf((response.data[i].name)) === -1)
            this.countries.push(response.data);
        }
        store.commit('setCountries', this.countries);
      }).
      catch(error => {
        console.error(error);
      });
    },
    getRegions(){
      this.countries = [];
      axios.request(regionCall).
      then(response => {
        for(let i = 0 ; i < response.data.length; i++){
          if(this.regions.indexOf((response.data[i].region)) === -1)
            this.regions.push(response.data[i].region);
        }
        this.regions.sort();
        store.commit('setRegions', this.regions);
      }).
      catch(error => {
        console.error(error);
      });
    }
  },
  beforeMount(){
    this.getRegions();
    this.getCountriesByRegion(store.state.selectedRegion);
  },
  computed: {
    getSelectedRegion () {
      return store.state.selectedRegion;
    },
    getCountrySearch () {
      return store.state.countrySearch;
    },
    getCountries () {
      return store.state.countries;
    }
  },
  watch: {
    getSelectedRegion (newRegion) {
      this.getCountriesByRegion(newRegion);
    },
    getCountrySearch(newCountry){
      this.getCountriesByName(newCountry);
    },
    getCountries (newCountries) {
      if(newCountries[0] == "needRefresh"){
        this.getAllCountries();
        this.getCountriesByRegion(store.state.selectedRegion);
      }
      else
        this.countries = newCountries;
    }
  }
}
</script>

<style scoped>
.countries-list, .coutries-menu {
    display: flex;
    align-items: center;
}

.countries-list {
    height: 100%;
    overflow: auto;
    margin: auto;
    margin-top: 1em;
    flex-direction: column;
}

.mdl-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
}

.country-card {
    width: 450px!important;
    flex-shrink: 0;
    margin-bottom: 10px;
    background: #f5f5f5;
}

.country-card {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
</style>
