<template>
  <div class="card-content">
    <div class="icon"><img :src="country.flag"></div>
    <div class="infos">
      <div class="country-name"> {{country.name}} </div>
      <div> Capital : {{country.capital}} </div>
      <div class="timezones"> Time Zone<span v-if="country.timezones.length>1">s</span> : 
        <span v-for="timezone in country.timezones.slice(0, -1)" :key="timezone[0]">
          <span class="timezone"> {{timezone}}, </span>
        </span>
        <span class="timezone"> {{country.timezones[country.timezones.length - 1]}} </span>
      </div>
    </div>
    <div class="population">
      <svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" aria-label="people fill" xlmns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-people-fill b-icon bi">
        <g><path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"></path></g>
      </svg>
    <div class="populationNb">{{country.population}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Country',
  props: {
    country: {
      name: String,
      capital: String,
      population: String,
      timezones: [],
      flag: String
    }
  }
}
</script>
<style scoped>

.mdl-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
}

.country-card {
    width: 450px!important;
    flex-shrink: 0;
    margin-bottom: 10px;
    background: #f5f5f5;
}

.country-card {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon, .population {
    flex: none;
    width: 6em;
    height: 3em;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

img {
    border-style: none;
}

img, svg {
    vertical-align: middle;
}

.icon img {
    width: 90%;
    height: 90%;
    border: 1px solid #000;
}

svg {
    overflow: hidden;
}

.b-icon.bi {
    display: inline-block;
    overflow: visible;
    vertical-align: -.15em;
}

.population svg {
    width: 2em;
    height: 2em;
}

.infos {
    overflow: hidden;
}

.country-name {
    font-weight: 700;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.timezones {
    font-size: .75em;
}

.timezone {
    display: inline-block;
}

.populationNb{
  font-size: 0.9em;
}
</style>
