<template>
  <div class="coutries-menu">
      <div style="flex: 1 1 0%; display: flex; height: 2em; align-items: stretch;" v-if="!searcherByName">
        <div class="region"> Region : </div>
        <select v-model="selectedRegion" class="select" @change="onChange($event)">
          <option v-for="region in $store.state.regions" :key="region.name" :value="region">{{region}}</option>
        </select>
      </div>
      <div style="flex: 1 1 0%; display: flex;" v-if="searcherByName">
        <input v-model="input" @keyup.enter="searchCountry" type="text" placeholder="Country name (e.g. fr)" ref="countryName" class="form-control" style="width: 100%;" id="__BVID__248">
        <button type="button" class="btn btn-dark" v-on:click="searchCountry">Search </button>
      </div>
      <button type="button" class="btn btn-white" v-on:click="switchComponent">
        <svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" v-bind:aria-label="customLabel" xmlns="http://www.w3.org/2000/svg" fill="currentColor" v-bind:class="customClass">
          <g v-if="!searcherByName">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
          </g>
          <g v-if="searcherByName">
            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
          </g>
        </svg>
      </button>
  </div>
</template>

<script>
import store from '../store';

export default {
  name: 'Menu',
  data(){ return {
    regions: [],
    searcherByName: false,
    classSearch: "bi-search b-icon bi",
    classCancel: "bi-x-square b-icon bi",
    labelSearch: "search",
    labelCancel: "x square",
    customClass: this.classSearch,
    customLabel: this.labelSearch,
    input: "",
    selectedRegion: store.state.selectedRegion
  }},
  methods:{
    getRegions(){
      this.regions = store.state.regions;
    },
    onChange(event) {
        store.commit("setSelectedRegion", event.target.value);
    },
    switchComponent(){
      this.searcherByName = !this.searcherByName;
      if(this.searcherByName){
        this.customClass = this.classSearch;
        this.customLabel = this.labelSearch;
        store.commit("setCountries", []);
        this.$nextTick(() => {this.$refs.countryName.focus();});
      }
      else{
        this.customClass = this.classCancel;
        this.customLabel = this.labelCancel;
        store.commit("setCountries", ["needRefresh"]);
      }
    },
    searchCountry(){
      store.commit("setCountrySearch", this.input);
    }
  },
  created(){
    this.getRegions();
  }
}
</script>
<style>
.coutries-menu {
    height: 1em;
    padding: 0 2px;
    justify-content: center;
}

.countries-list, .coutries-menu {
    display: flex;
    align-items: center;
}

.region{
  display: flex;
  align-items: center;
  margin-right: 1em;
  font-size: 1.2em;
  font-weight: bolder;
}

.select{
  flex: 1 1 0%;
  padding: 0px 10px;
}

button {
    border-radius: 0;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn {
    margin-left: 1em;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
</style>
