<template>
  <div id="app">
    <smpl_08_App_axios msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import smpl_08_App_axios from './components/smpl_08_App_axios'

export default {
  name: 'App',
  components: {
    smpl_08_App_axios
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
