<template>
  <section v-if="currentSearch !== ''">
    <header id="pages">
      <button type="button" :disabled="disabledPrev" class="btn btn-secondary" :class="disabledPrev ? 'disabled' : ''" v-on:click="prev"> prev </button>
      <div>{{current}}</div>
      <div>/</div>
      <div>{{max}}</div>
      <button type="button" :disabled="disabledNext" class="btn btn-secondary" :class="disabledNext ? 'disabled' : ''" v-on:click="next"> next </button>
    </header>
    <div v-for="(joke, i) in jokes" :key="i">
      <Joke :joke="joke"></Joke>
    </div>
    <footer style="justify-content: left;">
      <div style="margin-right: 1em; font-style: italic;">Mots clés :</div>
      "
      <div id="keywords">{{currentSearch}}</div>
      "
    </footer>
  </section>
</template>

<script>
import axios from "axios";
import Joke from './joke.vue';
import store from '../store'

const jokeCall = {
  method: 'GET',
  url: 'https://icanhazdadjoke.com/',
  headers: {
    'Accept': 'application/json'
  }
};

export default {
  name: 'JokeList',
  props: {
    msg: String
  },
  components: {
    Joke
  },
  data() {
    return {
      jokes: [],
      min: 0,
      max: 0,
      current: 0,
      disabledPrev: true,
      disabledNext: true,
      currentSearch: ''
    }
  },
  methods: {
    getJokes(search, page) {
      jokeCall.url = "https://icanhazdadjoke.com/search?term=" + search.replace(" ", "+") + "&page=" + page + "&limit=5";
      axios.request(jokeCall).then(response => {
        if(response.data.results.length > 0){
          this.jokes = response.data.results;
          this.current = response.data.current_page;
          this.min = response.data.previous_page;
          this.max = response.data.total_pages;
        }
        else{
          this.jokes = [];
          this.current = 0;
          this.min = 0;
          this.max = 0;
        }
        this.disabledPrev = !(this.min < this.current);
        this.disabledNext = !(this.max > this.current);
      }).catch(error => {
        console.error(error);
      });
    },
    prev(){
      if(!this.disabledPrev){
        this.current--
        this.newPage();
      }
    },
    next(){
      if(!this.disabledNext) {
        this.current++;
        this.newPage();
      }
    },
    newPage(){
      this.getJokes(this.currentSearch, this.current);
    }
  },
  computed: {
    getSearch() {
      return store.state.jokeSearch;
    },
  },
  watch: {
    getSearch(newSearch) {
      this.currentSearch = newSearch;
      this.getJokes(newSearch, 1);
    }
  }
}
</script>

<style scoped>
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
#keywords {
  font-family: Architects Daughter,cursive;
}
header{
  display: flex !important;
}
footer{
  display: flex !important;
}
#pages div {
  margin: 8px;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: auto;
}
</style>
