<template>
  <div class="form-group">
    <input v-model="search" @keyup.enter="searchJoke" type="text" placeholder="Mots clés..." class="form-control form-control" style="margin-right: 1em;">
    <button type="button" class="btn btn-primary" style="flex-shrink: 0;" v-on:click="searchJoke">Chercher des blagues</button>
  </div>
</template>

<script>
import store from '../store';

export default {
  name: 'SearchBar',
  data() {
    return {
      search: ""
    }
  },
  methods:{
    searchJoke() {
      store.commit("setJokeSearch", this.search);
    }
  }
}
</script>

<style scoped>
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, input {
  overflow: visible;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn, .form-group *, footer *, header * {
  font-size: 1em;
}
.form-group {
  display: flex;
  margin-bottom: 1rem;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
</style>
