<template>
<div id="app">

  <div class="strips">
    <b-btn @click="newJoke">Get new Joke</b-btn>
    <strip v-for="j in jokes" :key="j.id" :text="j.joke"></strip>
  </div>

  <div class="strips">
    <b-btn @click="newAdvice">Get new Advice</b-btn>
    <strip v-for="a in advices" :key="a.slip_id" :text="a.advice"></strip>
  </div>

</div>
</template>

<script>
import axios from "axios";

import smpl_08_Strip from "@/components/smpl_08_Strip";

const jokeOptions = {
  method: 'GET',
  url: 'https://icanhazdadjoke.com/', // https://icanhazdadjoke.com/api
  headers: {
    'Accept': 'application/json',
  }
};

export default {
  name: "smpl_08_App_axios",
  components:{
    strip: smpl_08_Strip
  },
  data(){ return {
    jokes: [],
    advices: [],
  }},
  methods:{

    newJoke(){
      axios.request(jokeOptions).
      then(response => {
        this.jokes.push(response.data)
      }).
      catch(error => {
        console.error(error);
      });
    },

    newAdvice(){
      axios.get(`https://api.adviceslip.com/advice`). //https://api.adviceslip.com/
      then(response => {
        console.log(response)
        this.advices.push(response.data.slip)
      }).
      catch(error => {
        console.error(error);
      });
    },
  }
}
</script>

<style scoped>

#app{
  display: flex;
  flex-direction: row;
  justify-items: stretch;
}

.strips{
  flex: 1 ;
  margin: 10px;

  display: flex;
  flex-direction: column;

}
.strip{
  margin: 5px 0px;
  background: whitesmoke;
}
</style>