<template>
  <div class="mdl-shadow--3dp strip">
    {{ text }}
  </div>
</template>

<script>
export default {
  name: "smpl_08_Strip",
  props:{
    text: String
  }
}
</script>

<style scoped>
/*https://fonts.google.com/*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.strip{
  padding: 5px;

  font-family: 'Architects Daughter', cursive;
  font-size: 1.3em;
}
</style>